
		
	<repeat group="{{ @result }}" value="{{ @item }}">
			<div class="col-lg-4">
				<h2>{{ @item.name  }}<div style="border-radius: 50%;width: 23px;height: 23px;background:{{ @item.is_online ? "green" : "red"  }};float:left;margin-top: 5px;margin-right: 5px;"></div></h2>
				<p class="col-xs-8" style="padding:0px;">{{ @item.address  }}<check if="{{ @item.port==25565 }}"><false>:{{ @item.port  }}</false></check></p>
				<p class="col-xs-4" style="padding:0px;text-align:right;">
					{{ @calc_uptime(@item.times_online, @item.times_checked) }}% uptime
				</p>
				<p class="col-xs-12" style="padding:0px;text-align:right;">
					{{ @item.current_players }}/{{ @item.max_players }} players online
				</p>
				<div style="clear:both;"></div>
				<p style="float:right;"><a class="btn btn-xs btn-default" href="{{ @ALIASES.info }}/{{ @item.identifier }}-{{ @item.name }}">More Info &raquo;</a></p>
			</div>
	</repeat>